/* 
ASTERISKS (*)are for all elements, 
ELEMENTS (body) targets specific elements, all if multiple, 
DOTS (.) are for classes, 
HASHTAGS (#) are for ID's 
 */

* {
  box-sizing: border-box;
}

header,
footer {
    width: 100%;
  text-align: center;
  background-color: black;
  color: orangered;
}

header {
  border-radius: 80px;
  border: 5px solid orangered;
}

footer{
padding: 10px;
}

body {
   background: linear-gradient(to bottom, black, silver);
}

.myphoto {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

a:visited {
  color: silver;
}

a:hover {
  color: orangered;
}


#portrait {
  border-radius: 50%;
  background-color: black;
  border: 5px solid orangered;
  padding: 5px;
}

h1 {
  color: white;
  font-size: 80px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-flex;
  margin-right: 50px;
  font-size: 25px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
}

/*
p {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
*/

#cardimage {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}

#cardimage:hover {
  width: 300px;
  height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  border: 5px solid orangered;
  padding: 5px;
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
  font-size: larger;
  text-align: center;
  border-radius: 10%;
}

@media screen and (max-width: 400px) {
  .card {
width: 80vw;
  } 
}