/* 
ASTERISKS (*)are for all elements, 
ELEMENTS (body) targets specific elements, all if multiple, 
DOTS (.) are for classes, 
HASHTAGS (#) are for ID's 
 */

:root {
  --orangered: orangered;
  --white: white;
  --silver: silver;
  --black: black;
}

* {
  box-sizing: border-box;
  font-family: Calibri;
}

html {
  scroll-behavior: smooth;
}

#top {
  background: linear-gradient(black, silver, white);
}

#about-me {
  background: linear-gradient(white, silver, black);
}

body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#a-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  display: inline-flex;
  color: white;
}

.toggle {
  transform: scale(.5);
  margin-top: 0px;
}

.brute-alt-away {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 2px;
}

.btn {
  background-color: black;
  color: orangered;
  border: 1px solid orangered;
}

.btn:hover {
  background-color: silver;
  color: white;
  border: 1px solid orangered;
}

.custom-b {
  background: linear-gradient(black, silver, white, silver, black);
}

#imagecard {
  width: 400px;
  margin-top: 10px;
  border-radius: 15px;
}


.card {
  width: 450px;
  height: 300px;
  justify-content: space-around;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.856);
  border: orangered solid 1px;
}

.contact-me {
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 15px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

@media screen and (max-width: 450px) {
  .card {
    width: 80vw;
  }


}
